$color-White:#fdfdfd;
$color-Shark:#242b32;
$color-Breaker-Bay:#54a096;
$color-French-Gray:#bcbcbd;
$color-Antique-Brass:#ca865f;
$color-Japanese-Maple:#7a0203;
$color-Rose-of-Sharon:#bb5c02;
$color-Robin-egg-blue:#03d4db;
$color-Turbo:#fbee02;
$color-Manz:#f1f16a;



$color-Ebb:#ebe9e7;
$color-Tuna:#30343a;
$color-Sea-Nymph:#74a59e;
$color-Empress:#817b7d;
$color-Manatee:#8c949e;



$color-Di-Serria:#d3964e;
$color-Emperor:#555154;
$color-Bull-Shot:#8c5026;
$color-Shuttle-Gray:#666971;
$color-Chestnut-Rose:#d2524a;