@import "@/style/Colors.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
}
.container {
    width: 55%;
    margin: 0 auto;
}
// flex 
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}
// flex 

// margin 
.m-t-rem {
    margin-top: 1rem;
}

.m-t-rem2 {
    margin-top: 2rem;
}

// margin 

// border 

.border-t-Nymph{
    border-top: 4px solid $color-Sea-Nymph;
}

// border 

// padding 

.p-y-15{
    padding:15px 0 ;
}

.p-15{
    padding:15px;
}

.p-y-50 {
    padding: 50px 0;
}

.p-t-35 {
    padding-top: 35px;
}

.p-b-50 {
padding-bottom: 50px;
}

.p-y-35 {
    padding: 35px 0;
}

.pad-50 {
    padding: 50px;
}

.pad-y-100 {
    padding:100px 0;
}

.p-r-20{
    padding-right: 20px;
}

.p-x-50 {
    padding:0 50px;
}


// padding 

// color 
.color-Gray{
    color: $color-Shuttle-Gray;
}

.color-White {
    color: $color-White;
}

// color 

// background
.bg-Ebb {
    background-color: $color-Ebb;
}

.bg-Bay {
    background-color: $color-Breaker-Bay;
}

.bg-white {
    background-color: $color-White;
}

// background



   
    